{% extends 'home.html' %}
{% load static %}
{% block title %}service{% endblock title%}
{% block body %}
<div class="container-fluid my-4">
    
    <div class="row">
        <div class="col-6">
            <div class="container px-4 py-5" id="hanging-icons">
                <h2 class="pb-2 border-bottom">My Services</h2>
                <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
                  <div class="col d-flex align-items-start">
                    <div class="icon-square text-body-emphasis  bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                     <img src="{% static 'image/pythonlogo.jpg' %}" width="50px" height="50px" alt="python" srcset="">
                    </div>
                    <div>
                      <h3>Python Developer</h3>
                      <p>I developed many GUI-Based desktop Application using python like face Recorgnition Attendence stystem,Message Encoder and Decorder etc.</p>
                    </div>
                  </div>
                  <div class="col d-flex align-items-start">
                    <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                        <img src="{% static 'image/webdeveloper.jpeg' %}" width="50px" height="50px" alt="python" srcset=""> 
                    </div>
                    <div>
                      <h3>Web Developer</h3>
                      <p>I developed many web application using html,css,Django and flask.some of them are chatbot etc</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="col-6">
            <div>
                <img src="{% static 'image/service.jpeg' %}" height=450px "img-fluid" alt="...">
            </div>
        </div>
    </div>
</div>
{% endblock %}